html,
body {
  height: 100%;
  padding: 0;
}

* {
  font-family: "Livvic", sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  color: #5a6d79;
  font-family: "Chilanka", cursive;
}

.navbar .form-inline {
  margin-left: auto;
}

li {
  list-style-type: none;
}

li.post,
.flashes li {
  margin: 1rem;
}

.header {
  color: #5a6d79;
  font-family: "Chilanka", cursive;
  margin: 2rem;
  text-align: center;
  text-transform: capitalize;
}


.card a {
  color: #a4a8d1;
}

.card a:hover {
  text-decoration: none;
}

.purple {
  color: #8c91c2 !important;
}

.card .even {
  background-color: #9ba0ad13;
}

#submit {
  background-color: #cdcfe5;
}

.card a.edit {
  color: #8cabbe !important;
}

.card a.edit:hover {
  color: #333f46 !important;
}

a.del {
  color: #333f46 !important;
}