{% extends "layout.html" %} {% block content %}
<h2 class="text-center header">{{ header }}</h2>
<ul>
  {% if header == "News Feed" and posts == [] %}
  <h5 class="text-center text-muted"> Follow others to see more posts... </h5>
  {% endif %}
  {% for post in posts %}
  <li class="post">
    <div class="card">
      <div class="card-body {{ 'even' if posts.index(post) % 2 == 0 else 'odd' }}">
        <h5 class="post-title">
          <a href="{{ url_for('post', id=post.id )}}"> {{ post.title }} </a>
        </h5>
        <p>
          {{ post.body[:200] | safe }}
        </p>
        <a href="{{ url_for('profile', id=post.author.id) }}"><small>
            {{ post.author.user_name or "Anonymous" }}
          </small></a>
        <small class="font-italic">
          {{'updated '+ "{:%Y-%m-%d %H:%M}".format(post.updated_on) or 'created ' +"{:%Y-%m-%d %H:%M}".format(post.created_on)}}</small>
        <hr />
        <div>

          <a href="{{ url_for('like', id=post.id, ref= request.path) }}" class=" like card-link ">
            <i class="fa fa-thumbs{{'' if current_user.has_upvote(post) else '-o'}}-up purple" aria-hidden="true"
              style="font-size: large"></i>
            {{ post.upvotes.count() }}</a>
          <a href="{{ url_for('dislike', id=post.id, ref= request.path) }}" class=" like card-link">
            <i class="fa fa-thumbs{{'' if current_user.has_downvote(post) else '-o'}}-down purple"
              style="font-size: large"></i>
            {{ post.downvotes.count() }}</a>
          <i class="fa fa-comment-o purple ml-3" aria-hidden="true"> {{ post.comments.count() }} </i>
          <i class="fa fa-eye ml-3 text-muted" aria-hidden="true"> {{post.views}}</i>
          <a class="ml-3" data-toggle="tooltip" data-placement="top" title="Something wrong?"
            href="{{ url_for('flag', id=post.id, ref=request.path) }}">
            <i class="fa fa-flag{{'' if current_user.has_flag(post) else '-o'}}" aria-hidden="true">
              {{ post.flags|length }}</i></a>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}